In [1]:
import math

In [2]:
math.ceil(2.4)

3

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [5]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [8]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [9]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [11]:
__init__.py:
    
__all__ =["bar"]

SyntaxError: invalid syntax (<ipython-input-11-92d6858c3efc>, line 1)

In [12]:
print('hello')

hello

In [14]:
try:
    f=open('testfile','w')
    f.write('test write this')
except IOError:
    print("error: could not find file or read data")
else:
    print("content written successfully")
    f.close()

content written successfully

In [15]:
try:
    f=open('testfile','r')
    f.write('test write this')
except IOError:
    print("error: could not find file or read data")
else:
    print("content written successfully")
    f.close()

error: could not find file or read data

In [16]:
try:
    f=open('testfile','w')
    f.write('test write this')
except IOError:
    print("error: could not find file or read data")
else:
    print("content written successfully")
    f.close()

content written successfully

In [19]:
try:
    f=open("testfile","w")
    f.write("test write statements")
finally:
    print("always execute finally code blocks")

always execute finally code blocks

In [20]:
def askint():
    try:
        val=int(input("please enter an integer"))
    except:
        print("looks like you did not enter an integer!")
    finally:
        print("finally,I executed!")
    print(val)

In [21]:
askint()

please enter an integer246
finally,I executed!
246

In [22]:
askint()

please enter an integer246
finally,I executed!
246

In [23]:
def askint():
    try:
        val=int(input("please enter an integer:"))
    except:
        print("looks like yoy did not enter an integer!")
        val=int(input("try again-please enter an integer:"))
    finally:
        print("finally,I executed!")
    print(val)

In [24]:
askint()

please enter an integer:246
finally,I executed!
246

In [25]:
def askint():
    while True:
        try:
            val=int(input("please enter an integer:"))
        except: 
             print("looks like yoy did not enter an integer!")
             continue
        else:
            print('yep thats an integer!')
            break
        finally:
            print("finally,I executed!")
        print(val)

In [27]:
askint()

please enter an integer:abc
looks like yoy did not enter an integer!
finally,I executed!
please enter an integer:str
looks like yoy did not enter an integer!
finally,I executed!
please enter an integer:bcd
looks like yoy did not enter an integer!
finally,I executed!
please enter an integer:hel
looks like yoy did not enter an integer!
finally,I executed!
please enter an integer:246
yep thats an integer!
finally,I executed!

In [28]:
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(id int, name text, score int)")
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [29]:
db.commit()

In [30]:
results=db.execute("select * from grades1 order by id")
for row in results:
    print(row)
    print("-" * 60)

(101, 'John', 99)
------------------------------------------------------------
(102, 'Gary', 90)
------------------------------------------------------------
(103, 'James', 80)
------------------------------------------------------------
(104, 'Cathy', 85)
------------------------------------------------------------
(105, 'Kris', 95)
------------------------------------------------------------

In [34]:
results=db.execute("select * from grades1  where name ='Gary'")
for row in results:
    print(row)
print("-"*60)

(102, 'Gary', 90)
------------------------------------------------------------

In [35]:
results=db.execute("select * from grades1  where score >=90 ")
for row in results:
    print(row)
print("-"*60)

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [36]:
results=db.execute("select name, score from grades1 order by score desc")
for row in results:
    print(row)
print("-"*60)

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [39]:
results=db.execute("select name, score from grades1 order by score asc")
for row in results:
    print(row)
print("-"*60)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [37]:
results=db.execute("select name, score from grades1 order by score ")
for row in results:
    print(row)
print("-"*60)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [38]:
results=db.execute("select name, score from grades1 order by score ")
for row in results:
    print(row)
print("-"*60)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------