In [6]:
class person:
    pass
john_doe=person()
john_doe.name="Alce"
john_doe.surname="Baldwin"
john_doe.year_of_birth=1958
print(john_doe)
print("%s %s was born in %d."%
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.person object at 0x0000000004DEC9C8>
Alce Baldwin was born in 1958.

In [9]:
class person:
    def __init__(self , name ,surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [12]:
alec = person("Alec","Baldwin",1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.person object at 0x0000000005578EC8>
Alec Baldwin was born in 1958

In [22]:
class person:
    def __init__(self,name,surname,year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth =year_of_birth 
    def age(self,current_year):
        return current_year -self.year_of_birth
    def __str__(self):
        return "%s %s was born in %d ."%(self.name,self.surname,self.year_of_birth)
    
alec = person("Alec","Baldwin",1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [24]:
class person:
    def __init__(self,name,surname,year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth =year_of_birth 
    def age(self,current_year):
        return current_year -self.year_of_birth
    def __str__(self):
        return "%s %s was born in %d ."%(self.name,self.surname,self.year_of_birth)
    
alec = person("mahalakshmi","veeraraghvan",1999)
print(alec)
print(alec.age(2020))

mahalakshmi veeraraghvan was born in 1999 .
21

In [25]:
class student(person):
    def __init__(self,student_id, *args,**kwargs):
        super(student ,self).__init__(*args,**kwargs)
        self._student_id =student_id
charlie = student(1 ,'charlie','Brown',2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie,person))
print(isinstance(charlie,object))

charlie Brown was born in 2006 .
<class '__main__.student'>
True
True

In [27]:
class student(person):
    def __init__(self,student_id, *args,**kwargs):
        super(student ,self).__init__(*args,**kwargs)
        self._student_id =student_id
    def __str__(self):
        return super(student,self).__str__()+"And has ID: %d" % self._student_id
charlie = student(1,'charlie','Brown',2006)
print(charlie)

charlie Brown was born in 2006 .And has ID: 1

In [28]:
def summer(a,b):
    return a + b
print(summer(1,1))
print(summer(["a","b","c"],["d","e"]))
print(summer("abra","cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [55]:
%%writefile superman.txt
Hello,this is a quik superman file

Overwriting superman.txt

In [37]:
my_file = open('superman.txt')

In [38]:
my_file.read()

'Hello,this is a quik superman test file\n'

In [40]:
my_file.read()

''

In [41]:
my_file.seek(0)

0

In [42]:
my_file.read()

'Hello,this is a quik superman test file\n'

In [43]:
my_file.seek(0)

0

In [45]:
my_file.readlines()

[]

In [46]:
my_file  = open('test.txt','w+')

In [47]:
my_file.write('this is a new line')

18

In [48]:
my_file .seek(0)

0

In [49]:
my_file.read()

'this is a new line'

In [50]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

In [53]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [54]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [57]:
from io import StringIO

In [58]:
message = 'this is just a normal string.'

In [59]:
f= StringIO(message)

In [60]:
f.read()

'this is just a normal string.'

In [61]:
f.write('second line written to file like  object')

40

In [62]:
f.seek(0)

0

In [63]:
f.read()

'this is just a normal string.second line written to file like  object'